<section class="about">
    <div class="container">
        <div class="about-title">
            <h3>ABC University</h3>
        </div>
        <div class="about-text">
            <p>
                In 1865, Ezra Cornell founded an institution "where any person can find instruction in any study. From the beginning, all students were welcome, regardless of race, gender, ideology, or socioeconomic status.
            </p>
            <p>
                Today, we invite you to join our talented and diverse students and accessible faculty who, together, form a living and learning community unmatched in its breadth of opportunities.
            </p>
        </div>
    </div>
</section>