<section class="banner">
    <div class="container">
        <div class="banner-title">
            <h2>Welcome</h2>
        </div>
        <div class="banner-text">
            <p>
                College students can publish their course notes, study together, build their academic reputations....
            </p>
        </div>
        <div class="banner-form">
            <div class="banner-form-title">
                <h4>Get Started</h4>
            </div>
            <form class="registration-form" action="/echo" method="post">
                <div class="field">
                    <input class="select" type="text" name="first-name" id="first-name" placeholder="Select Course"/>
                </div>
                <div class="field">
                    <input type="text" name="first-name" id="first-name" placeholder="First Name"/>
                </div>

                <div class="field">
                    <input type="text" name="last-name" id="last-name" placeholder="Last Name"/>
                </div>

                <div class="field">
                    <input type="tel" name="phone" id="phone" placeholder="Phone"/>
                </div>

                <div class="field">
                    <textarea name="textarea" id="Adress"  placeholder="Adress"></textarea>
                </div>

                <div class="field">
                    <input type="number" name="number" id="zip" placeholder="Zip"></div>

                <div class="field">
                    <input type="email" name="email" placeholder="Email"></div>
                <button type="submit" class="btn">Submit</button>
            </form>
        </div>
    </div>
</section>