<section class="features">
    <div class="container">
        <div class="features-title">
            <h5>Why we are best</h5>
        </div>
        <div class="features-row clearfix">
            <div class="item">
                <div class="item-image">
                    <img src="img/image-1.jpg" alt="" width="290px" height="159px"></div>
                <div class="item-info">
                    <div class="item-title">Quality environment</div>
                    <div class="item-text">
                        <p>
                            We guide our students to find their own academic paths by helping them to reason, analyze and understand in unprecedented ways. The undergraduate experience at Duke is characterized by a spirit of academic energy, exploration and challenge.
                        </p>
                    </div>
                    <div class="view">
                        <a href="#">View</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="item-image">
                    <img src="img/image-2.jpg" alt="" width="290px" height="159px"></div>
                <div class="item-info">
                    <div class="item-title">Quality programs</div>
                    <div class="item-text">
                        <p>
                            We are a research university with resources to connect undergraduate education to the processes of inquiry and discovery. Duke students explore ideas by collaborating directly with our exceptional faculty in a program of study that focuses on interdisciplinary exploration.
                        </p>
                    </div>
                    <div class="view">
                        <a href="#">View</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="item-image">
                    <img src="img/image-3.jpg" alt="" width="290px" height="159px"></div>
                <div class="item-info">
                    <div class="item-title">Excellent teachers</div>
                    <div class="item-text">
                        <p>
                            A student's education doesn't end at the classroom door. We provide an incredible variety of opportunities for students to enhance and supplement in-class learning with hands-on experiences, service in the community both locally and globally and development.
                        </p>
                    </div>
                    <div class="view">
                        <a href="#">View</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>