<section class="feedbacks">
    <div class="container">
        <div class="feedbacks-slider clearfix">
            <div class="slider-title">What Students Says About Our University</div>
            <div class="slider-nav">
                <a href="#" class="prev"></a>
                <a href="#" class="next"></a>
            </div>
            <div class="feedbacks-text clearfix">
                <p>
                    We guide our students to find their own academic paths by helping them to reason, analyze and understand in unprecedented ways. The undergraduate experience at Duke is characterized by a spirit of academic energy, exploration and challenge.
                </p>
                <div class="feedbacks-autor">Amanda Persch</div>
            </div>
        </div>
        <div class="action-button">
            <a href="#">Click Here Now to Get Started</a>
        </div>
    </div>
</section>