<header class="main-header">
    <div class="container">
        <div class="main-info clearfix">
            <div class="logo">
                <a href="#" class="logo-link">ABC</a>
            </div>
            <div class="big-heading">
                <h1>ABC University</h1>
            </div>
            <div class="social">
                <span class="social-text">Connect:</span>
                <a href="#" class="social-btn social-btn-fb"></a>
                <a href="#" class="social-btn social-btn-gl"></a>
                <a href="#" class="social-btn social-btn-tw"></a>
            </div>
        </div>
    </div>
</header>