<footer class="main-footer">
    <div class="container">
        <div class="main-info clearfix">
            <div class="logo">
                <a href="#" class="logo-link">ABC</a>
            </div>
            <div class="big-heading">
                <h1>ABC University</h1>
            </div>
            <div class="footer-info-wrapper" >
                <div class="social">
                    <span class="social-text">Connect:</span>
                    <a href="#" class="social-btn social-btn-fb"></a>
                    <a href="#" class="social-btn social-btn-gl"></a>
                    <a href="#" class="social-btn social-btn-tw"></a>
                </div>
                <div class="footer-copyright">
                    <p>
                        © 2014 by ABC UNIVERSITY OF LIFE. Proudly created with
                        <a href="#">unbounce.com</a>
                        Design by
                        <a href="#">Design-What.com</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>